<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../tzmusic/css/index.css">
    <title>tzMusic</title>
</head>
<body>
    <div id="tzHome">
        <div id="nav" class="layui-layout layui-layout-admin">
            <div class="layui-header" th:include="header :: copyright"></div>
            <div id="carousel">
                <div class="layui-carousel" id="test10">
                    <div carousel-item="">
                        <div><img src="../tzmusic/images/carousel.jpg"></div>
                        <div><img src="../tzmusic/images/carousel1.jpg"></div>
                        <div><img src="../tzmusic/images/carousel2.jpg"></div>
                        <div><img src="../tzmusic/images/carousel3.jpg"></div>
                    </div>
                </div>
            </div>
            <div id="recommend" class="layui-fluid">
                <div class="layui-row layui-col-space15" style="padding-top: 15px">
                    <div class="layui-col-md2 layui-col-xs2 layui-col-sm2"></div>
                    <div class="layui-col-md8 layui-col-xs8 layui-col-sm8">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md8" >
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md2 layui-col-xs2 layui-col-sm2">
                                        <h3><b style="font-weight: 300;color:#009af3">精选</b>歌单</h3>
                                    </div>
                                    <div class="layui-col-md10 layui-col-xs10 layui-col-sm10" style="padding-top:10px;text-align: left" >
                                        <span class="layui-breadcrumb" lay-separator="-">
                                            <a href="">华语</a>
                                            <a href="">流行</a>
                                            <a href="">摇滚</a>
                                            <a href="">民谣</a>
                                            <a href="">电子</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="layui-row layui-col-space10">
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend2.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend3.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend4.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend5.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend6.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend7.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <img src="../tzmusic/images/recommend/recommend8.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4 layui-col-xs4 layui-col-sm4">
                                <div class="layui-row layui-col-space15">
                                    <h3><b style="font-weight: 300;color:#009af3">热门</b>榜单</h3>
                                </div>
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md12">
                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12 layui-card">
                                                <div class="layui-card-header">
                                                    <h4><b>飙升榜</b></h4>
                                                </div>
                                                <div class="layui-card-body">
                                                    1.麦小兜、郭聪明 - 害羞<br>
                                                    2.刘崇建、金南玲 - 习惯一个人
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12 layui-card">
                                                <div class="layui-card-header">
                                                    <h4><b>TOP500</b></h4>
                                                </div>
                                                <div class="layui-card-body">
                                                    1.杨坤、郭采洁 - 答案<br>
                                                    2.烟把儿乐队 - 纸短情长
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-row layui-col-space15">
                                            <div class="layui-col-md12 layui-card">
                                                <div class="layui-card-header">
                                                    <h4><b>网红榜</b></h4>
                                                </div>
                                                <div class="layui-card-body">
                                                    1.庄心妍 - 眼泪的提醒<br>
                                                    2.庄心妍 - 你忙吧 我不打扰了
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="layui-row layui-col-space15">-->
                            <!--<div class="layui-col-md8" >-->
                                <!--<div class="layui-row layui-col-space15">-->
                                    <!--<div class="layui-col-md2 layui-col-xs2 layui-col-sm2">-->
                                        <!--<h3><b style="font-weight: 300;color:#009af3">新歌</b>首发</h3>-->
                                    <!--</div>-->
                                    <!--<div class="layui-col-md10 layui-col-xs10 layui-col-sm10" style="padding-top:10px;text-align: left" >-->
                                        <!--<span class="layui-breadcrumb" lay-separator="-">-->
                                            <!--<a href="">华语</a>-->
                                            <!--<a href="">流行</a>-->
                                            <!--<a href="">摇滚</a>-->
                                            <!--<a href="">民谣</a>-->
                                            <!--<a href="">电子</a>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="layui-col-md2 layui-col-xs2 layui-col-sm2"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
    <script src="../tzmusic/js/index.js"></script>
    <script src="../tzmusic/js/header.js"></script>
</body>
</html>