<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body style="overflow-y:hidden;">
<div id="loginBox">
    <!--/*@thymesVar id="user" type="com.jiehao.tzmusic.dto.entity.User"*/-->
        <form class="layui-form layui-form-pane" action="#" th:action="@{/login}" th:object="${user}" style="padding-left: 10px;padding-right: 10px" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input name="username" type="text" th:field="*{username}" class="layui-input" lay-verify="required" autocomplete="off" placeholder="输入用户名"  >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input name="password" type="password" th:field="*{password}" class="layui-input" lay-verify="required" autocomplete="off" placeholder="输入密码">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <div class="layui-input-block" style="margin-left: 5px">
                    <input name="like[auto]" lay-skin="primary" title="下次自动登陆" checked="" type="checkbox">
                </div>
            </div>
            <div class="layui-form-item" style="padding-top: 20px">
                <button class="layui-btn layui-btn-fluid">登陆</button>
            </div>

        </form>
    </div>
</div>
<script src="../layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(*)', function(data){
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</body>
</html>